<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= pageTitle %></title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!--Charting Scripts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <!--Local js files -->
    <script src="js/functions.js"></script>
    <script src="js/analyses.js"></script>

    <style>
        .datepicker{
            padding: 6px;
            width: 28%;
            float: left;
            border-radius: 5px;
        }
        #errMsg{
            text-align: center;
        }
        .hidden{
            display: none;
        }
        #download button {
            background-color: #e7e7e7;
            border: 2px #9b9999 solid;
            border-radius: 2px;
        }
    </style>
</head>

<body class="app">
    <div class="page-container">
        <div class="header navbar">
            <div class="header-container">
                <ul class="nav">
                    <li class="dropdown" style="width: 100%;text-align: center;">
                        <h2 style="padding-top: 1%; text-shadow: 2px 2px lightgrey;">Water Monitoring Analyzer</h2>
                    </li>
                </ul>
            </div>
        </div>


        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <div class="row gap-20 masonry pos-r" style="position: relative; height: 741px;">
                    <div class="masonry-item w-100" style="position: absolute; left: 0%; top: 0px;">
                        <div class="row gap-20">
                            <div class="col-md-4">
                                <div class="layers bd bgc-white p-20">
                                    <div class="layer w-100 mB-10"><h6 class="lh-1">Select Analysis</h6></div>
                                        <div class="layer w-100">
                                            <div class="peers ai-sb fxw-nw">
                                                <select class="form-control" id="analysis-list">
                                                    <option value="maxmin">Daily Tmax/Tmin</option>
                                                    <option value="avg">Daily Average</option>
                                                    <option value="dtr">Daily Temperature Range (DTR)</option>
                                                    <option value="cdd">Cumulative Degree Days</option>
                                                    <option value="live" selected>Current Data Feed</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>            
                            <!--<form action="" method="" id="inputForm" class="row gap-20">-->
                                <!--<div class="col-md-3">
                                    <!--<div class="layers bd bgc-white p-20">
                                        <div class="layer w-100 mB-10"><h6 class="lh-1">Select Database</h6></div>
                                        <div class="layer w-100">
                                            <div class="peers ai-sb fxw-nw">
                                                <!--<div class="peer peer-greed">
                                                    <span id="sparklinedash">
                                                        <canvas width="45" height="20" style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas>
                                                    </span>
                                                </div>
                                                <select class="form-control formInput" id="db-list">
                                                    <!--<option value="envdata">env data</option>
                                                    <option value="envdata2" selected>envdata 2</option>
                                                    <option value="envdata3">envdata 3</option>
                                                    <!--<option value="envdata4">envdata 4</option>
                                                    <option value="envdata5">envdata 5</option>
                                                    <option value="envdata6">envdata 6</option>
                                                    <!--<option value="envdata7">envdata 7</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col-md-4">
                                    <div class="layers bd bgc-white p-20">
                                        <div class="layer w-100 mB-10"><h6 class="lh-1">Select Date Range</h6></div>
                                        <div class="layer w-100">
                                            <div class="peers ai-sb fxw-nw">
                                                <div id="dateRange" class="peer">
                                                    <input type="text" class="datepicker form-control formInput" id="date1" placeholder="From Date">
                                                    <input style="margin-left: 2%" type="text" class="datepicker form-control formInput" id="date2" placeholder="To Date">
                                                    <div style="clear: both;"></div>
                                                </div>
                                                <div id="yearRange" class="peer hidden">
                                                    <select class="form-control formInput" id="year-list">
                                                        <option value="2015">2015</option>
                                                        <option value="2016" selected>2016</option>
                                                        <option value="2017">2017</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="layers bd bgc-white p-20 hidden" id="selectT0">
                                        <div class="layer w-100 mB-10" style="margin-bottom: 3px!important;"><h6 class="lh-1">Select DD Base (°C)</h6></div>
                                        <div class="layer w-100">
                                            <div class="peers ai-sb fxw-nw">
                                                <div class="peer">
                                                    <input class="formInput" type="number" name="T0" id="T0" value="10" min="0" max="50">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="layer w-100 mB-10" style="margin-bottom: 3px!important;"><h6 class="lh-1">Select Locations</h6></div>
                                        <div class="layer w-100">
                                            <div class="peers ai-sb fxw-nw">
                                                <div class="peer">
                                                    <label style="margin-bottom: 0"><input class="formInput" type="checkbox" name="sensors" id="sen1" checked="yes"> Sensor 1</label>
                                                    <label style="margin-bottom: 0"><input class="formInput" type="checkbox" name="sensors" id="sen2" checked="yes"> Sensor 2</label><br>
                                                    <label style="margin-bottom: 0"><input class="formInput" type="checkbox" name="sensors" id="sen3" checked="yes"> Sensor 3</label>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                <!---<div class="layers bd bgc-white p-20">
                                    <div class="layer w-100 mB-10" style="margin-bottom: 3px!important;"><h6 class="lh-1">Chart Type</h6></div>
                                    <div class="layer w-100">
                                        <div class="peers ai-sb fxw-nw">
                                            <div class="peer">
                                                <label style="margin-bottom: 0"><input class="formInput" type="radio" id="lineGraph" name="graph" value="line" checked> Line</label>
                                                <label style="margin-bottom: 0"><input class="formInput" type="radio" id="histograph" name="graph" value="hist"> Histogram</label>
                                                <label style="margin-bottom: 0"><input class="formInput" type="radio" id="bargraph" name="graph" value="bar"> Bar</label><br>
                                                <label style="margin-bottom: 0"><input class="formInput" type="radio" id="dotgraph" name="graph" value="dot"> Dot</label>
                                                <label style="margin-bottom: 0"><input class="formInput" type="radio" id="densityPlot" name="graph" value="area"> Density Plot</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <!--</form>-->
                        </div>
                    </div>

                    <div class="masonry-item col-12" style="position: absolute; left: 0%; top: 124px;">
                        <div class="bd bgc-white">
                            <div class="peers fxw-nw@lg+ ai-s">
                                <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                                    <div class="layers">
                                        <div class="layer w-100 mB-10"><h6 class="lh-1"><div id="errMsg" style="color: red"></div><br>Number Of Records: <span id="rcrdRtrnd"></span></h6></div>
                                        <div class="layer w-100">
                                            
                                            <div id="chart"></div>
                                            <div id="download"><button onclick="exportData();" title="Download Data as CSV">Download Data</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!--<div id="table" style="height: 100%"></div>-->
</body>