<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Evironmental Sensor</title>
        <!--jquery-->
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>       
        
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
        <!-- reset stylesheet -->
        <link rel="stylesheet" href="stylesheets/reset.css">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">       
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/styles.css" rel="stylesheet">
        
        <!--Charting Scripts-->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        
    </head>
    
    <body class="env light-primary-color">
        <div class="top-most dark-primary-color"></div>
            <section id="header" class="default-primary-color">
                <h2 class="text-primary-color">Water Monitoring Analyzer</h2>
            </section>
        <div id="main-container" class="container light-primary-color">
        <div id="topWindow"  class="row light-primary-color">
        <form action="" method=""  id="inputForm">
        <section id="selectRange" class="col-md-3 light-primary-color">
             <h4 class="uppercase primary-text-color">select date range:</h4>
            <div class="form-group">
                    <label for="date1" class=" sr-only secondary-text-color">From:</label><input type="text" class="datepicker form-control" id="date1" placeholder="From Date">
            </div>
             <div class="form-group">                    
                <label for="date2" class="secondary-text-color sr-only">To:</label><input type="text" class="datepicker form-control" id="date2" placeholder="To Date">
            </div>
        </section> 
         <section id="selectDb" class="col-md-3 light-primary-color">
             <h4 class="uppercase primary-text-color">select database:</h4>
            <div class="checkbox">
                 <label><input type="checkbox" id="db2" name="databases" value="db2" checked>DB 2 </label>
                 <label><input type="checkbox" id="db3" name="databases" value="db3" >DB 3</label> 
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="db4" name="databases" value="db4">DB 4</label>                                
                 <label> <input type="checkbox" id="db5" name="databases" value="db5">DB 5</label>
            </div>
             <div class="checkbox">
                <label><input type="checkbox" id="db6" name="databases" value="db6"> DB 6</label>                         
            </div>
        </section>
        <section id="selectSensor" class="col-md-3">
                <h4 class="uppercase  primary-text-color">select sensors:</h4>
             <div class="checkbox">
                 <label><input type="checkbox" name="sensors" id="sen1" checked="yes">Sensor 1</label>
                    <label><input type="checkbox" name="sensors" id="sen2" checked="yes">Sensor 2</label>
                <label><input type="checkbox" name="sensors" id="sen3" checked="yes">Sensor 3</label>                                        
            </div> 
        </section>
        <section id="selectView" class="col-md-3">
         <h4 class="uppercase primary-text-color">select view:</h4>
        <div class="radio">
            <label><input type="radio" id="lineGraph" name="graph" value="line">Line</label>
            <label><input title="Coming Soon!" type="radio" id="histograph" name="graph" value="hist" disabled="yes">Histogram</label>   
        </div>
        <div class="radio">
            <label> <input title="Coming Soon!" type="radio" id="bargraph" name="graph" value="bar" disabled="yes" toolt>Bar</label>
            <label><input title="Coming Soon!" type="radio" id="dotgraph" name="graph" value="line" disabled="yes">Dot</label>  
        </div>
         <div class="radio">                
            <label><input title="Coming Soon!" type="radio" id="densityPlot" name="graph" value="line" disabled="yes">Density Plot</label>  
        </div>
         </section> 
        </form><!--End of Form-->
        </div>                
        <!--submit section-->
        <div class="row light-primary-color" id="submitInput">
            <section id="submit" class="col-md-12">
                <input type="submit" class="btn accent-color text-primary-color uppercase" id="myButton" value="Submit"/>
            </section>
        </div>
        <div class="row light-primary-color divider"></div>
        <div class="row">    
            <section id="bottomWindow" >
                <div id="recordCount" class="divider-color">
                     <p  class="uppercase primary-text-color">records returned
                       <br> <input type="text" id="rcrdRtrnd" value=""/>                        
                     </p>
                </div>
                <div id="chart"></div>
                <div id="stats"></div>
            </section>            
        </div>
    </div><!--End of Outer Container-->
        <!-- Additional Bootstrap Functionality-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!--Local js file -->        
        <script src="js/view.js"></script>
    </body>
    
    </html>
    