.env{

	background-color: darkgrey;
}
#main-container{
	background-color: lightgray;
	/* margin: 0 auto;
	padding: 0px;  */
}
#header {
	background-color: gray;
	color: white;
	text-align: center;
}
#header h3{
	margin: 0;
	padding: 10px 0 10px 0;
}
#topWindow {
	background-color: #F9F9F7;
	color:black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#submitInput{
	background-color: #F9F9F7;
	border-right: 1px solid black;
	border-left: 1px solid black;	
}

#bottomWindow{
	height:800;
	background-color: #F9F9F7;
	border: 1px black solid;
	/* text-align: center; */
}

#recordCount{
	/* width:100%; */
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#rcrdRtrnd
{
	border: none;
	background:transparent;
}
#chart{
	overflow: hidden;
	width: 100%;
	text-align: center;  
}
#stats{
	width: 100%; 
}

#myButton{
	margin-bottom: 10px; 
}

/* Font Styles */
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold; 
}

/* Form styles */
#container form{

}
#inputForm .checkbox label, #inputForm .radio label{
	margin: 3px; 
}
input[type=checkbox]{
	margin:3px ; 
} 