.env{
	background-color: darkgrey;
}
#container{
}
#header {
	width: 100%;
	margin-top:5px;
	background-color: grey;
	color: white;
	float:left;
	text-align: center;
}

#leftWindow {
	float:left;
	position: relative;
	background-color: #F9F9F7;
	color:black;
	width: 40%;
	border: 1px black solid;
}

#rightWindow{
	float:left;
	width: 60%;
	height:800;
	background-color: #F9F9F7;
	border: 1px black solid;
}
#recordCount{
	width:100%;
	text-align: center;
}
#rcrdRtrnd
{
	border: none;
	background:transparent;
}
#chart{
	overflow: hidden;
	width: 100%;
}
#stats{
	width: 100%;
}