.env{
	background-color: darkgrey;
}
#container{
}
#header {
	background-color: grey;
	color: white;
	text-align: center;
}
#header h3{
	margin: 0;
	padding: 10px 0 10px 0;
}
#topWindow {
	background-color: #F9F9F7;
	color:black;
	border: 1px black solid;
}

#bottomWindow{
	height:800;
	background-color: #F9F9F7;
	border: 1px black solid;
	text-align: center;
}

#recordCount{
	/* width:100%; */
	 text-align: center;
	margin: 0px;
	padding: 0px;
}
#rcrdRtrnd
{
	border: none;
	background:transparent;
}
#chart{
	overflow: hidden;
	width: 100%;
}
#stats{
	width: 100%;
}

#myButton{
	margin-bottom: 10px; 
}

/* Font Styles */
.uppercase{
	text-transform: uppercase;
}
.bold{
	font-weight: bold; 
}

/* Form styles */

#inputForm .checkbox label, #inputForm .radio label{
	margin: 3px; 
}
input[type=checkbox]{
	margin:3px ; 
} 